CHANNEL=aioffs

LOCALE=zh-cn
TIMEZONE=Asia/Shanghai

TELEGRAM=ccbikai
TWITTER=ccbikai
GITHUB=ccbikai
DISCORD=https://DISCORD.com
PODCASRT=https://PODCASRT.com
MASTODON=mastodon.social/@Mastodon
BLUESKY=bsky.app

FOOTER_INJECT=<script defer src="https://sy.952727.xyz/script.js" data-website-id="a881a37e-5630-4612-9a9c-2717d16a79df"></script>
HEADER_INJECT=HEADER_INJECT

NO_FOLLOW=false
NO_INDEX=false

SENTRY_AUTH_TOKEN=SENTRY_AUTH_TOKEN
SENTRY_DSN=SENTRY_DSN
SENTRY_PROJECT=SENTRY_PROJECT

HOST=telegram.dog
STATIC_PROXY=""
